<div class="row banner about-banner">
  <h1>A platform for Sports Lovers</h1>
</div>

<div class="row white">
	<h2>Do you love sports? So do we.</h2>
	<p>Is there anything that makes you feel more alive than practicing sports? We doubt.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quisquam aliquid, enim provident impedit voluptatem quasi commodi, repudiandae nesciunt nemo esse? Sapiente dolorum omnis illum sint inventore, harum? Accusamus, quod.</p>
</div>
