<div class="row banner about-banner">
  <h1>A platform for Sports Lovers</h1>
</div>

<div class="row white">
	<h2>Do you love sports? So do we.</h2>
	<p class="med-margin font-med">Is there anything that makes you feel more alive than practicing sports? We doubt.</p>
	<p class="med-margin font-med">Self-improvement is in fact the main reason why people challenge themselves. Going to such great lengths for anything else is not worth it, not even money or fame. The hard work and dedication one invests in practicing a sport is tremendous. Another thing that determines sports practitioners to continue living on the edge all the time is the rush of adrenaline. Nothing compares with the thrilling sensation adventures such as bungee jumping or surfing offer and many people love and are addicted to that feeling.</p>
	<p class="med-margin font-med">If you enjoy adventure and setting high goals, if you love beating your own records, extreme sports may very well be your answer. Going beyond the capabilities of the human body and constantly challenging their fears is how people practicing extreme sports live every day.</p>
	<p class="med-margin font-med">Skateboarding, surfing, climbing, mountain biking, sky diving, free running, bungee jumping, paragliding and white water rafting are probably the most popular extreme sports in the world, practiced by many enthusiasts, both beginners and pros. In order to achieve performance in either one of these sports you need to have skills, backbone and dedication.</p>
	<h3 class="txt-right">Do you have what it takes?</h3>
</div>
