@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import url(http://fonts.googleapis.com/css?family=Lora:400,700|Ubuntu:300,400,700);

$darker-blue: #031F34;
$dark-blue: #155571;
$light-blue: #81AABC;
$yellow: #FFCD57;
$orange: #FF7252;
$gray: #f2f2f2;

body {
	background-color: $dark-blue;
}

p, span, a, div, ul, li {
	font-family: 'Lora', Georgia, serif;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

h2 {
	margin-top: 15px;
	margin-bottom: 25px;
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: $light-blue;

	&:hover {
		color: $darker-blue;
	}
}

i.fa {
	margin-right: 10px;
	color: $yellow;
}

footer {
	border-top: 5px solid $light-blue;
	padding: 10px 0;

	p {
		text-align: center;
		color: white;
	}

	a:hover {
		color: $yellow;
	}
}

.equipment-img {
	background-size: cover;
	height: 200px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.relative {
	position: relative
}

.absolute {
	position: absolute;
}

.overlay-desc {
	background-color: rgba(6,65,113, 0.9);
	color: white;
	top: 12px;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 12px;
	display: none;
}