@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import url(http://fonts.googleapis.com/css?family=Lora:400,700|Ubuntu:300,400,700);

$darker-blue: #031F34;
$dark-blue: #155571;
$light-blue: #81AABC;
$yellow: #FFCD57;
$orange: #FF7252;
$gray: #f2f2f2;

body {
	background-color: $light-blue;
}

.container {
	min-height: 550px;
}

p, span, a, div, ul, li {
	font-family: 'Lora', Georgia, serif;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6, label {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

h2 {
	margin-top: 15px;
	margin-bottom: 25px;
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: $light-blue;

	&:hover {
		color: $darker-blue;
	}
}

i.fa {
	margin-right: 10px;
	color: $yellow;
}

footer {
	padding: 10px 0;

	p {
		text-align: center;
		color: white;
	}

	a:hover {
		color: $yellow;
	}
}

.col-md-3.home-listing {
	display: inline-block;
	float: none;
	width: 24%;
	vertical-align: top;
}

.banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

	h1 {
		text-align: center;
		color: white;
	}
}

.home-banner {
	background-image: url('https://dl.dropboxusercontent.com/s/pkaoz6q74f3pk08/kitesurf.jpg?dl=0');
	height: 450px;
	background-position: 10px 10px;

	h1 {
		margin-top: 150px;
		font-size: 50px;
		font-weight: 900;
		text-align: center;
	}
}

.about-banner {
	background-image: url('https://dl.dropboxusercontent.com/s/z6u9u6lysfdp5p2/wakeboarding.jpg?dl=0');
	height: 400px;
	background-position: 40px 0;

	h1 {
		margin-top: 150px;
		font-size: 50px;
		font-weight: 700;
	}
}

.contact-banner {
	background-image: url('https://dl.dropboxusercontent.com/s/sw1y0vecmeaxamb/longboarding.jpg?dl=0');
	height: 400px;
	background-position: bottom;

	h1 {
		margin-top: 150px;
		font-size: 50px;
		font-weight: 700;
	}
}

.equipment-img {
	background-size: cover;
	height: 300px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.relative {
	position: relative
}

.absolute {
	position: absolute;
}

.block {
	display: block;
}

.overlay-desc {
	background-color: rgba(6,65,113, 0.9);
	color: white;
	top: 12px;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 12px;
	display: none;
}

.listing-detail {
	color: white;

	.btn {
		margin: 20px auto;
		background-color: white;
		color: $dark-blue;

		&:hover {
			background-color: $yellow;
		}
	}
}

.single-listing {

	.btn-link {
		color: $yellow;
		margin: 10px 0;
		text-align: left;

		&:hover {
			color: white;
		}
	}
}

.limit-size-70 {
	max-width: 70%!important;
}
.navbar-nav {
	width: 90%;
	z-index: 100;
}

.new-listing {
	background-color: $orange!important;
	color: white!important;
	border-radius: 4px;
	padding: 5px 10px!important;
	margin-top: 10px;

	&:hover {
		background-color: $darker-blue!important;
	}

}
.white {
	color: white;
}
.dropdown {
	right: 0px;
	top: 15px;
	position: absolute!important;
	
	span {
		cursor: pointer;
		padding: 5px;
	}

	ul {
		display: none;
		padding: 10px 10px 5px 10px;
		background-color: white;
		border-radius: 2px;
		z-index: 100;
		box-shadow: 2px 2px 2px #f2f2f2;
	}

	.red {
		color: $orange;
	}

	&:hover {
		ul {
			display: block;
		}
	}

	li {
		padding: 3px 2px;
		list-style: none;
	}
}

@media all and (min-width: 1000px) {
	form {
		max-width: 45%;
	}
}